@checkbox-size: .185;

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 68px;
  width: 50px;

  > .checkbox {
    display: inline-block;
    margin-left: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    transform: translateX(-5em * sqrt(2) * @checkbox-size/2);
  }

  > .left {
    margin-left: 0em;
  }
  > .right {
    margin-left: 0.7em;
  }
}

.checkbox {

  cursor: pointer;

  .hexagon-small {
    .hexagon(@checkbox-size);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: background .3s;

    > main {
      transition: background .3s;
      background-color: rgba(255, 255, 255, 1);
    }

    @multiple: 1;
    > aside {
      width: 1.3em;
      transition: background .3s;

      > span {
        transition: background .3s;
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  @scale: 0.7;
  .diamond {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: @bd-diamond-size * @checkbox-size * @scale;
    width: @bd-diamond-size * @checkbox-size * @scale;
    right: -@bd-diamond-size * @checkbox-size *@scale / 2;
    z-index: 10;
    transform: translate(-30px, 0px);

    > span {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      //background: #fff;
      background-color: @bd-bg-color;
      opacity: 1;
      transform: rotate(45deg);
    }
  }

  &.checked {
    .hexagon-small {
      //background: rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 1);

      > main {
        //background: transparent;
      }

      > aside {
        > span {
          //background: rgba(255, 255, 255, 0.5);
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
