@import "../../nju/res/index.less";
@import "variables.less";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: Arial, "Microsoft YaHei";
  font-weight: normal;

  &::selection {
    background: none;
  }
}

body {
  background: #091842;
  cursor: default;
  -webkit-perspective: 8000px;
}

area,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'] {
  cursor: text;

  &::selection {
    background: blue;
  }
}

.normal,
body {
  font-size: 12px;
  @media(min-width: 1280px) {
    font-size: 16px;
  }
  @media(min-width: 1440px) {
    font-size: 18px;
  }
  @media(min-width: 1600px) {
    font-size: 20px;
  }
  @media(min-width: 1920px) {
    font-size: 24px;
  }
  @media(min-width: 2560px) {
    font-size: 32px;
  }
  @media(min-width: 3840px) {
    font-size: 48px;
  }
  line-height: 1em;
}

.h1,
h1 {
  font-size: 3.33em;
  line-height: 1em;
}

.h2,
h2 {
  font-size: 2em;
  line-height: 1em;
}

.h3,
h3 {
  font-size: 1.5em;
  line-height: 1em;
}

.small,
small {
  font-size: .583em;
  line-height: .583em;
}

.medium-small,
medium-small {
  font-size: .7em;
  line-height: .7em;
}

.button,
button {
  font-size: 1em;
  border: 1px solid white;
  background: @bd-bg-color;
  padding: .4em .5em;
}

.button.active,
button.active {
  background: @bd-active-bg-color;
}

.bd-app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bd-dialog {
  outline: none;
  transition: transform 0.5s ease-out;

  &.aside {
    transform: scale(0.18) rotateY(60deg) rotateZ(-3deg) translate(-160em, 0em) !important;

    * {
      border-width: 4px !important;
      border-color: white !important;
    }
  }

  > .container {
    position: absolute;
    top: .5em;
    left: 2em;
    right: 2em;
    bottom: .5em;

    > header {
      position: relative;
      white-space: nowrap;
      border-bottom: @border;
      text-align: center;
      height: 2.8em;
      line-height: 2.5em;
    }

    > main {
      position: relative;
    }
  }
}

.bd-text-shadow {
  text-shadow: @bd-text-shadow;
}

#bd-brand {
  position: absolute;
  opacity: .85;
  background: url("images/sap-logo.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 5em;
  height: 2.5em;
  left: .8em;
  top: 1em;
}
@import "grid-system.less";
@import "loading.less";
@import "data-clock-view.less";
@import "search-view.less";
@import "map-view.less";
@import "main-menu.less";
@import "today-view.less";
@import "hexagon.less";
@import "tile.less";
@import "chart.less";
@import "octagon.less";
@import "panel-container.less";
@import "checkbox.less";
@import "check-list-view.less";
@import "tab-view.less";
@import "segment-control.less";
