.segment-control {
  margin: .3em 0;
  text-align: center;
  font-size: .8em;

  > li {
    display: inline-block;
    border: @border;
    border-right: none;
    padding: .1em .6em;
    transition: background .3s, opacity .3s;
    cursor: pointer;
    background: @bd-bg-color;
    min-width: 6.5em;

    &:last-child {
      border-right: @border;
    }

    &.active {
      background: @bd-active-bg-color;
      cursor: default;
    }
  }
}
