.bd-tile {
  padding-left: 2em;

  header {
    padding-left: 0 !important;
  }
}

.bd-standard-tile {
  @header-height: 35%;

  > header {
    height: @header-height;
    padding-left: 1.7em;
    @title-height: 40%;

    > section {
      height: 100%;
      width: 47%;
      float: left;
      cursor: pointer;

      &.selected, &:hover {
        .title {
          border-bottom: 2px solid white;
        }
      }

      &:nth-of-type(2) {
        margin-left: 6%;
      }

      .title {
        height: @title-height;
        font-size: 0.8em;
      }

      .value {
        font-size: 1.4em;
        height: 60%;
        display: inline-block;
      }

      > .unit {
        display: inline-block;
        font-size: 0.8em;
      }
    }
  }

  > .sap-a-chart {
    height: 100% - @header-height;
    margin: 0;
    padding: 0;
  }
}
