.bd-tile {
  padding-left: 2em;
}

.bd-standard-tile {
  @header-height: 50%;

  > header {
    height: @header-height;
    padding-top: 1em;
    padding-left: 1.7em;
    @title-height: 40%;

    > .title {
      height: @title-height;
    }

    > section {
      height: 100% - @title-height;
      @left: 54%;

      position: relative;

      > span {
        position: absolute;
      }

      > .description {
        left: @left;
        top: .5em;
      }

      > .unit {
        left: @left;
        top: 2em;
      }
    }
  }

  > figure {
    height: 100% - @header-height;
    margin: 0;
    padding: 0;

  }
}
