.moh-bus-panel {
  > header {
    height: 4em;
    padding-left: 1em;
    padding-top: 0.5em;

    > .title {

    }
  }

  #bus-table-view {
    margin: 0 30px;

    > .footer {
      margin: 0 22px 0 27px;
      padding: 5px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.5);

      > .time {
        line-height: 2em;
      }
      > .more {
        color: #1DFFF9;
        border-bottom: 1px solid #1DFFF9;
      }
    }
  }
}

.bus-table-view {
  width: 100%;

  tr {
    height: 2em;
  }

  tr th {
    color: #999;
    width: 80px;
  }

  tr td {
    text-align: center;
  }
}
