.moh-bus-panel {
  > header {
    height: 3em;

    > .title {
      text-align: center;
      line-height: 2em;
    }
  }

  #bus-table-view {
    padding: 0 30px;
  }
}

.bus-table-view {
  width: 100%;

  tr th {
    color: #999;
  }
}
