.moh-map-view {
  @bus-container-height: 38px;
  .bus-container {
    height: @bus-container-height;
    width: @bus-container-height;
    background: #1DFFF9;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #000;

    transform: scale(0.77);

    > span {
      line-height: @bus-container-height;
      color: #000;
      font-size: 2em;
    }

    &.vacant {
      background: #E2F2F1;
    }
  }

  @station-container-height: 38px;
  .station-container {
    height: @station-container-height;
    width: @station-container-height;
    background-image: url('./imgs/icon-station.png');
    background-size: cover;
  }

  .selected > .station-container {
    background-image: url('./imgs/icon-station-selected.png');
    transform: scale(1.1);
    background-size: cover;
  }

  @group-container-height: 4px;
  .group-container {
    height: @group-container-height;
    width: @group-container-height;
    border-radius: @group-container-height / 2;
    background-color: white;
  }
}

@maxZoom: 17;
@minZoom: 11;
@minScale: 0.3;

.generate-zooms(@maxZoom);

.generate-zooms(@n, @i: @minZoom) when (@i =< @n) {
  .moh-map-view {
  	&.zoom-level-@{i} {
      .bus-container {
      	transform: scale((1 - @minScale) / (@maxZoom - @minZoom) * (@i - @minZoom) + @minScale - 0.2);
      }
    }
  }
  .generate-zooms(@n, (@i + 1));
}
