.moh-map-view {
  @container-height: 38px;
  .bus-container {
    height: @container-height;
    width: @container-height;
    background: #1DFFF9;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #000;

    > span {
      line-height: @container-height;
      color: #000;
      font-size: 2em;
    }

    &.vacant {
      background: #E2F2F1;
    }
  }
}
