#bd-tile-layer {
  .shadow {
    width: 22em;
    background-color: @bd-bg-color;
    opacity: 0.5;
    background-position-x: right;
    background-position-y: bottom;
  }
}

.bd-standard-tile {
  padding: 0 2em 2.8em 0;

  > header {
    padding-left: 0;
  }
}

.moh-counter-chart, .moh-speed-chart {
  .line-series {
    stroke: rgba(255, 255, 255, 0.9);
    stroke-width: 2;
    opacity: 1;
    fill: none;

    .dashed {
      stroke: rgb(232, 137, 252);
      stroke-dasharray: 6, 4;
    }
  }

  .area-series {
    path {
    }
  }

  .axis-layer {
    .axis {
      .tick {
        text {
          font-size: 14px;
        }

        line {
          stroke: rgba(255, 255, 255, 0.6);
          fill: none;
        }
      }
    }
  }
}
